In [3]:
import pandas as pd

In [4]:
skills_df = pd.read_csv("kaggle_related_skills.csv")
skills_df.head()

,name,related_1,related_2,related_3,related_4,related_5,related_6,related_7,related_8,related_9,related_10
0,a certified,network certified,laptops,n certified,computer hardware,windows 7,comptia,troubleshooting,software installation,printers,xp
1,a certified it technician,n certified,network certified,comptia network certified,comptia a certification,a certified professional,mcdst,windows 7,computer hardware,computer repair,a certified
2,a certified professional,network certified,comptia network certified,n certified,microsoft certified professional,a certified it technician,troubleshooting,windows 7,active directory,computer hardware,windows server
3,a quick learner,product validation,great communication skills,vista,good communication skill,people person,project resourcing,new product release,touch typing,excellent communicator,internet savvy
4,a1 assessor,ptlls,assessor training,nvqs,training delivery,training needs analysis,trainers,train the trainer,employer engagement,commercial awareness,fleet

In [5]:
skills_df.shape

(28934, 11)

In [7]:
skills_df.value_counts()

name                   related_1               related_2                                   related_3                                 related_4             related_5            related_6              related_7               related_8                   related_9                          related_10
a certified            network certified       laptops                                     n certified                               computer hardware     windows 7            comptia                troubleshooting         software installation       printers                           xp                 1
personal grooming      male grooming           bathing                                     personality development                   feeding               corporate etiquette  medication reminders   dining etiquette        corporate image management  etiquette                          email etiquette    1
perseverante           responsable             organizada                                  creativa                                  positivo              honesta              paciente               creativo                optimista                   entusiasta                         eficiente          1
perseverant            intellectually curious  selfconfidence                              practical                                 openmindedness        consideration        ambitious              dreamer                 easily adaptable            persuader                          autonomous         1
perseverancia          dinamismo entusiasmo    honestidad integridad respeto a las normas  disponibilidad para trasladarse y viajar  paciencia             entusiasmo           amabilidad             integridad              honestidad                  capacidad para trabajar en equipo  optimismo          1
                                                                                                                                                                                                                                                                                                                ..
fashion retail         fashion marketing       fashion                                     visual merchandising                      visual display        retail management    menswear               retail math             personal styling            apparel                            store layout       1
fashion photography    beauty photography      studio photography                          commercial photography                    portrait photography  studio lighting      lifestyle photography  headshots               still life                  fine art photography               portraits          1
fashion merchandising  fashion                 fashion buying                              merchandising                             fashion stylist       fashion marketing    visual merchandising   fashion design          wardrobe analysis           styling                            apparel            1
fashion marketing      fashion retail          fashion                                     fashion writing                           fashion design        fashion shows        fashion merchandising  styling                 trend research              personal styling                   fashion styling    1
zyxel                  dlink                   draytek                                     windows server                            linksys               netgear              hp procurve            hp procurve networking  microsoft exchange          ruckus                             fortinet           1
Name: count, Length: 28886, dtype: int64

In [9]:
skills_df.describe()

,name,related_1,related_2,related_3,related_4,related_5,related_6,related_7,related_8,related_9,related_10
count,28934,28934,28932,28923,28915,28906,28903,28894,28889,28887,28886
unique,28934,15114,14576,14546,14583,14605,14576,14838,14699,14775,15021
top,a certified,c,c,javascript,javascript,javascript,javascript,c,javascript,javascript,javascript
freq,1,167,84,68,65,54,48,40,37,42,37